---
---

@import "{{ site.theme }}";

ul li {
  list-style: none;
  position: relative;
}

ul li::before {
  content: '>';
  left: -24px;
  opacity: .5;
  position: absolute;
}

h2:not(:first-of-type) {
  margin-top: 2em;
}

h3 {
  margin-top: 3em;
}
h2 + h3 {
  margin-top: 0;
}

// Built output of https://gist.github.com/chimericdream/9231323

.rating {
  margin: 10px 0;
}

.rating i {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  border-style: solid;
  border-color: #eee;
  border-radius: .22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: 1.6em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px #b3b3b3;
}

[data-rate^='1'] .star-1 {
  border-color: #cc8b1f;
  background: #cc8b1f;
}

[data-rate='1.5'] .star-2 {
  border-left-color: #cc8b1f;
}

[data-rate^='2'] .star-1, [data-rate^='2'] .star-2 {
  border-color: #dcb228;
  background: #dcb228;
}

[data-rate='2.5'] .star-3 {
  border-left-color: #dcb228;
}

[data-rate^='3'] .star-1, [data-rate^='3'] .star-2, [data-rate^='3'] .star-3 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rate='3.5'] .star-4 {
  border-left-color: #f0991e;
}

[data-rate^='4'] .star-1, [data-rate^='4'] .star-2, [data-rate^='4'] .star-3, [data-rate^='4'] .star-4 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rate='4.5'] .star-5 {
  border-left-color: #f26a2c;
}

[data-rate='5'] i {
  border-color: #dd050b;
  background: #dd050b;
}

/** Print */
@media print {
  .rating {
    -webkit-print-color-adjust: exact;
  }
  .rating i {
    text-shadow: none;
  }
}
