---
---

@import "{{ site.theme }}";

ul li {
  list-style: none;
  position: relative;
}

ul li::before {
  content: '>';
  left: -24px;
  opacity: .5;
  position: absolute;
}

h2:not(:first-of-type) {
  margin-top: 2em;
}

h3 {
  margin-top: 3em;
}
h2 + h3 {
  margin-top: 0;
}

h3:not(.open) + section {
  display: none;
}

// Built output of https://gist.github.com/chimericdream/9231323

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.rating {
  margin: 10px 0;
}

.rating i {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  border-style: solid;
  border-color: rgba(255, 255, 255, .25);
  border-radius: .22em;
  color: white;
  font-style: normal;
  line-height: 1.4em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px #b3b3b3;
  margin-inline-end: .25em;
}

[data-rate^='1'] .star-1 {
  border-color: #cc8b1f;
  background: #cc8b1f;
}

[data-rate='1.5'] .star-2 {
  border-left-color: #cc8b1f;
}

[data-rate^='2'] .star-1, [data-rate^='2'] .star-2 {
  border-color: #dcb228;
  background: #dcb228;
}

[data-rate='2.5'] .star-3 {
  border-left-color: #dcb228;
}

[data-rate^='3'] .star-1, [data-rate^='3'] .star-2, [data-rate^='3'] .star-3 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rate='3.5'] .star-4 {
  border-left-color: #f0991e;
}

[data-rate^='4'] .star-1, [data-rate^='4'] .star-2, [data-rate^='4'] .star-3, [data-rate^='4'] .star-4 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rate='4.5'] .star-5 {
  border-left-color: #f26a2c;
}

[data-rate='5'] i {
  border-color: #dd050b;
  background: #dd050b;
}

.star-5 {
  margin-inline-end: 1em;
}
