---
---

@import "{{ site.theme }}";

ul li {
  list-style: none;
  position: relative;
}

ul li::before {
  content: '>';
  left: -24px;
  opacity: .5;
  position: absolute;
}

p, ul {
  & + h3 {
    margin-top: 3em;
  }
}
